.invalidLogin {
    color: red;
  }
  
  .rightAlign {
    text-align: right;
  }
  
  html, body {
    height: 100%;
    background: #e8e8e8;
    color: #333;
  }
  
  .panel {
    border: 0px;
  }
  
  .panel-heading {
    color: white;
    background-color:#143f8c ;
  }
  
  .login-panel {
    max-width: 350px;
    margin: 0 auto;
  }
  .login-panel input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .login-panel input[type=submit] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  /*
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  
  .nav-sidebar {
    margin-bottom: 20px;
  }
  */
  .uppercase {
    text-transform: uppercase;
  }
  
  .transaction-row td {
    cursor: pointer;
  }
  
  .new-customer-template .form-entry {
    padding: 0 40px 0 40px;
  }
  .new-customer-template input, .new-customer-template select, .new-customer-template textarea {
    max-width: 400px;
  }
  .new-customer-template th, .new-customer-template td {
    padding: 0 4px 0 4px;
  }
  .new-customer-template .exchange-inputs {
    background-color: gainsboro;
    margin: 0;
    padding: 20px;
  }
  .new-customer-template .exchange-sending {
    background-color: lightgray;
    margin: 4px 0 0 0;
    padding: 10px;
  }
  .new-customer-template .exchange-fees {
    margin: 0;
    padding: 10px;
  }
  .new-customer-template .exchange-total {
    background-color: gray;
    margin: 0;
    padding: 10px;
  }
  .new-customer-template .btn-file {
    position: relative;
    overflow: hidden;
  }
  .new-customer-template .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .new-customer-template .panel {
    border: none;
  }
  .new-customer-template .panel .panel-heading {
    color: white;
    background-color:#143f8c ;
  }
  
  .clock {
    color: #db0011;
  }
  
  .token-lookup {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .token-lookup-warning {
    color: #db0011;
  }
  
  .details-container {
    background-color: lightgray;
    padding: 10px;
  }
  
  .positive-sign {
    color: green;
  }
  
  .negative-sign {
    color: #143f8c;
  }
  
  select {
    text-transform: uppercase;
  }
  
  .main {
    padding: 20px;
  }
  
  .page {
    position: absolute;
    top: 40px;
    width: 100%;
  }
  
  .required {
    color:#143f8c;
  }
  
  div.jumbotron {
    text-align: center;
  }
  
  div.jumbo-red {
    background-color: #EEEEEE;
    position: relative;
    height: 100%;
    margin-bottom: 0px;
  }
  div.jumbo-red h3 {
    color: #F0F0F0;
    font-weight: 400;
  }
  div.jumbo-red .container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
  }
  
  div.panel-hsbc {
    border-color: #EEEEEE;
    margin: 20px;
  }
  div.panel-hsbc .panel-heading {
    background-color:#143f8c ;
    color: white;
  }
  
  .navbar-brand {
    padding-top: 5px;
  }
  
  .navbar-default {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 2px #D2D2D2;
  }
  .navbar-default a {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.125em;
    line-height: 20px;
    color: #333;
  }
  
  .nav #switch-lang {
    cursor: pointer;
  }
  
  .transaction-history .filters {
    padding-top: 10px;
  }
  .transaction-history .load-more {
    cursor: pointer;
  }
  .transaction-history .table .transaction-details {
    max-width: 100px;
  }
  .transaction-history .table .transaction-row {
    background-color: #c9c9c9;
  }
  .transaction-history .table .transaction-row.collapsed {
    background-color: white;
  }
  .transaction-history .table .more-detail {
    background: #f0f0f0;
    padding: 15px;
    padding-bottom: 30px;
  }
  .transaction-history .table .more-detail hr {
    color: #c9c9c9;
    background: #c9c9c9;
    border-color: #c9c9c9;
  }
  .transaction-history .table .more-detail ul {
    padding-left: 0px;
    padding-top: 0px;
    list-style-type: none;
  }
  .transaction-history .notch {
    position: relative;
    top: -21px;
    left: 20px;
    margin: 0;
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c9c9c9;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
  .transaction-history .fa.green {
    color: green;
    font-size: 10px;
  }
  .transaction-history .fa.red {
    color: #db0011;
    font-size: 10px;
  }